@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE.woff2") format("woff2"),
    url("/fonts/HelveticaCE.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-Black.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-NarrowBoldOblique.woff2") format("woff2"),
    url("/fonts/HelveticaCE-NarrowBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/AGHlvCyrillicBold-ItalicA.woff2") format("woff2"),
    url("/fonts/AGHlvCyrillicBold-ItalicA.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-CondObl.woff2") format("woff2"),
    url("/fonts/HelveticaCE-CondObl.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-BoldOblique.woff2") format("woff2"),
    url("/fonts/HelveticaCE-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-CondBold.woff2") format("woff2"),
    url("/fonts/HelveticaCE-CondBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-Bold.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-Bold.woff2") format("woff2"),
    url("/fonts/HelveticaCE-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaBoldOblique.woff2") format("woff2"),
    url("/fonts/HelveticaBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Narrow-BoldOblique.woff2") format("woff2"),
    url("/fonts/Helvetica-Narrow-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-Oblique.woff2") format("woff2"),
    url("/fonts/HelveticaCE-Oblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-BoldObl.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-BoldObl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-Narrow.woff2") format("woff2"),
    url("/fonts/HelveticaCE-Narrow.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-NarrowBold.woff2") format("woff2"),
    url("/fonts/HelveticaCE-NarrowBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-CondBoldObl.woff2") format("woff2"),
    url("/fonts/HelveticaCE-CondBoldObl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-NarrowOblique.woff2") format("woff2"),
    url("/fonts/HelveticaCE-NarrowOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-BlackObl.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-BlackObl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaCE-Cond.woff2") format("woff2"),
    url("/fonts/HelveticaCE-Cond.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-Light.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("/fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-LightObl.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-LightObl.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Condensed-Oblique.woff2") format("woff2"),
    url("/fonts/Helvetica-Condensed-Oblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-UltraCompressed.woff2") format("woff2"),
    url("/fonts/Helvetica-UltraCompressed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
