---
import Btn from "../components/Btn";
import Layout from "../layouts/Layout.astro";
---

<Layout title={'Page Not Found'}>
    <div class="my-auto h-full flex flex-col gap-6 items-center justify-center lg:gap-10">
        <h1 class="text-3xl font-semibold text-center md:text-4xl lg:text-5xl">
            Page Not Found
        </h1>
        <Btn to="/"> Go back home </Btn>
    </div>
</Layout>