---
import type {
    JobPostEntry,
    JobPostEntryMetaItem,
} from '../../../../bcms/types/ts';

import Layout from '../../../layouts/Layout.astro';
import { BCMSImage } from '@thebcms/components-react';
import Details from '../../../components/jobs/Details';
import { toJobLite } from '../../../utils/job';
import { bcmsPrivate } from '../../../bcms-private';
import { bcmsPublic } from '../../../bcms-public';

export async function getStaticPaths() {
    const jobPostEntries = (await bcmsPrivate.entry.getAll(
        'job-post',
    )) as JobPostEntry[];
    return jobPostEntries.map((e) => ({
        params: {
            slug: e.meta.en?.slug || '',
        },
    }));
}

const { slug } = Astro.params;

const jobPostEntries = (await bcmsPrivate.entry.getAll('job-post')) as JobPostEntry[];

const jobPostEntry = jobPostEntries.find((e) => e.meta.en?.slug === slug);
const jobPostEntryMeta = jobPostEntry?.meta.en as JobPostEntryMetaItem;

const clientConfig = bcmsPublic.getConfig();
---

<Layout
    title={`${jobPostEntryMeta.seo?.title || jobPostEntryMeta.title} - Hospitale`}
>
    <div>
        <div class="relative mt-6 mb-10 lg:mt-0 lg:mb-[72px]">
            <BCMSImage
                media={jobPostEntryMeta.cover_image}
                clientConfig={clientConfig}
                className="w-full aspect-[2.76] object-cover lg:aspect-[3.71]"
                client:load
            />
            <div class="absolute top-0 left-0 w-full h-full bg-black/20"></div>
        </div>
        <Details
            meta={jobPostEntryMeta}
            jobs={jobPostEntries.map((e) => toJobLite(e))}
            bcmsConfig={clientConfig}
        />
    </div>
</Layout>
